<po-page-default p-title="Inventário">
  <div class="po-row">
    <po-button p-label="Adicionar" p-icon="po-icon-plus" routerLink="/novoInventario"> </po-button>
  </div>

  <po-table
  [p-items]="items"
  p-sort="true"
  [p-columns]="columns"
  p-striped="true"
  [p-hide-table-search]="false"
  p-actions-right="true"
  [p-actions]="poTableActions"
  ></po-table>
  <div class="po-grid-cell-center">
    <po-button p-label="Carregar mais" (p-click)="onClick()"> </po-button>
  </div>
</po-page-default>
