<po-page-default p-title="Novo Inventário">

  <po-dynamic-form #dynamicForm [p-fields]="fieldsInventario" [p-value]="newInventario">
  </po-dynamic-form>
  <po-button p-label="Adicionar item" p-icon="po-icon-plus" class="po-pull-right" (p-click)="openModal()"></po-button>

  <po-table [p-items]="newInventario.items" p-sort="true" [p-columns]="columns"></po-table>

  <po-modal #modal p-title="Adicionar Item" [p-primary-action]=confirm>
    <po-dynamic-form #dynamicFormItem [p-fields]="fieldsItemsInventario" [p-value]="newItem">
    </po-dynamic-form>
  </po-modal>

  <po-button p-label="Cancelar" p-icon="po-icon-close" (p-click)="handleCancel()" routerLink="/"></po-button>
  <po-button p-label="Salvar" p-icon="po-icon-ok" class="po-pull-right po-ml-4" (p-click)="handleSave()" routerLink="/"></po-button>
</po-page-default>
